<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmNvRm54Yuj0te1O9poiCM6QpXm9AgdHU</string>
	<key>GCM_SENDER_ID</key>
	<string>711908137539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.autolaundry.app</string>
	<key>PROJECT_ID</key>
	<string>auto-laundry</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-laundry.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711908137539:ios:0a58fb94d59c9f45b3d2f6</string>
</dict>
</plist>
